{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'user_auth/css/bootstrap.min.css' %}" >

    <link rel="stylesheet" href="{% static 'page/css/style.css' %}">

    <link rel="stylesheet" href="{% static 'page/css/myCss.css' %}">
    <style>
        .site-banner .banner-area .author .author-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
    background: url({{ profile.personal_image.url }}) no-repeat;
    background-size: 100%;
    background-position: 40% 0;
}
    .head_section {
    text-decoration: #ffc107 underline;


}
    label{
    font-weight: 700;
}

    </style>
</head>
<body>

    {% include 'page/layouts/navbar.html' %}
    <!-- #header area -->
    <main id="site-main">
        <div class="row m-0">
            <div class="col-md-9 offset-md-3 px-0">
            {% if messages %}
                <section style="margin: 20px;border: white solid 2px;padding: 20px"  id="messages">
                    {% for message in messages %}
                        <div style="text-align: center" class="alert alert-primary" role="alert">
                           {{message|safe}}
                        </div>
                    {% endfor %}
                </section>
            {% endif %}
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </main>





<script src="{% static 'user_auth/js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'page/js/popper.min.js' %}" ></script>
<script src="{% static 'user_auth/js/bootstrap.min.js' %}" ></script>
<script src="{% static 'page/js/font.min.js' %}"></script>
<script src="{% static 'vendor/typed/typed.min.js' %}"></script>

    {% block js %}
    {% endblock %}
    <script>

$(function() {
    $('#no').hover(function(){
        document.getElementById('logout').src="{% static 'user_auth/images/no_logout.gif' %}";
    },
    function(){
        document.getElementById('logout').src="{% static 'user_auth/images/logout.gif' %}";
    });
});
$(function() {
    $('#close').hover(function(){
        document.getElementById('logout').src="{% static 'user_auth/images/no_logout.gif' %}";
    },
    function(){
        document.getElementById('logout').src="{% static 'user_auth/images/logout.gif' %}";
    });
});

</script>
<script>

    $(document).ready(function(e){
    $win = $(window);
    $navbar = $('#header');
    $toggle = $('.toggle-button');
    var width = $navbar.width();
    toggle_onclick($win, $navbar, width);

    // resize event
    $win.resize(function(){
        toggle_onclick($win, $navbar, width);
    });

    $toggle.click(function(e){
        $navbar.toggleClass("toggle-left");
    })

});

function toggle_onclick($win, $navbar, width){
    if($win.width() <= 768){
        $navbar.css({left: `-${width}px`});
    }else{
        $navbar.css({left: '0px'});
    }
}

var typed = new Typed('#typed' , {
    strings: [
       '{{profile.first_skill}}',
        '{{profile.second_skill}}',
        '{{profile.third_skill}}',
    ],
    typeSpeed: 50,
    backSpeed: 50,
    loop: true
});

var typed_2 = new Typed('#typed_2' , {
    strings: [
        '{{profile.first_skill}}',
        '{{profile.second_skill}}',
        '{{profile.third_skill}}',
    ],
    typeSpeed: 50,
    backSpeed: 50,
    loop: true
});

document.querySelectorAll('a[href^="#"]').forEach(anchor =>{
    anchor.addEventListener('click', function(e){
        e.preventDefault();

        document.querySelector(this.getAttribute('href')).scrollIntoView({
            behavior: 'smooth'
        });
    });
});

</script>
</body>
</html>