{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My profile</title>

    <link rel="stylesheet" href="{% static 'page/css/bootstrap.min.css' %}" >

    <link rel="stylesheet" href="{% static 'style.css' %}">
    <style>
        .site-banner .banner-area .author .author-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
    background: url({{ profile.personal_image.url }}) no-repeat;
    background-size: 100%;
    background-position: 40% 0;
}

    </style>
</head>
<body>

    <!-- header area -->
    <header id="header">
        <div class="row m-0">
            <div class="col-3 bgcolor-black">
                <nav class="primary-nav navbar-expand-md">
                    <div class="site-title text-center text-light " style="margin: 30px;margin-left: 10px">
                        {% if is_home %}
                            <a href="{% url 'home' user__username %}" class="navbar-brand font-staat font-size-40">{{ user_profile.first_name }}<br>Profile</a>

                        {% elif from_edit_view %}
                            <a href="{% url 'home' user__username %}" class="navbar-brand font-staat font-size-40">{{ request.user.username }}<br>Profile</a>

                        {% elif is_signup %}
                            <a href="#" class="navbar-brand font-staat font-size-40">Create Your<br>Own</a>
                        {% elif is_login %}
                        <a href="#" class="navbar-brand font-staat font-size-40">Login</a>

                        {% endif %}
                        <p class="description text-uppercase font-os"></p>
                    </div>
                    <div class="d-flex flex-column">
                        {% if from_edit_view %}
                            <a href="#general_information" class="nav-item nav-link text-white-50 font-os font-size-16 active">General Information</a>
                            <a href="#services" class="nav-item nav-link text-white-50 font-os font-size-16 active">services</a>
                            <a href="#news" class="nav-item nav-link text-white-50 font-os font-size-16 active">news</a>
                        {% elif is_home %}
                        <a href="#home" class="nav-item nav-link text-white-50 font-os font-size-16 active">Home</a>
                        <a href="#about_me" class="nav-item nav-link text-white-50 font-os font-size-16 active">About</a>
                        <a href="#services" class="nav-item nav-link text-white-50 font-os font-size-16 active">Services</a>
                        <a href="#news" class="nav-item nav-link text-white-50 font-os font-size-16 active">News</a>
                        <a href="#footer" class="nav-item nav-link text-white-50 font-os font-size-16 active">Contact Us</a>
                        {% elif is_login %}
                            <img  width="100%" height="500px" style="overflow-style: revert;margin-top: -30px" src="{% static 'page/images/login3.jpg' %}">
                        {% elif is_signup %}
                            <img  width="100%" height="100%" style="overflow-style: revert;margin-top: -30px" src="{% static 'page/images/signup2.jpg' %}">
                        {% endif %}
                    </div>
                    <br>
                {% if is_home %}
                    {% if user.is_authenticated %}
                        <form style="display: inline" method="post" action="{% url 'logout_user' %}">
                        {% csrf_token %}
                        <button  style="margin: 15px;" class="btn btn-outline-warning" type="submit">Logout</button>
                        </form>
                        <a href="{% url 'edit_informations' user__id %}" class="btn btn-outline-warning">Edit Your Informations</a>
                    {% else %}
                        <a href="{% url 'login_user' %}" style="margin: 15px;" class="btn btn-outline-warning" type="submit">Login</a>
                        <a href="{% url 'sign_up_user' %}" class="btn btn-outline-warning" type="submit">Create Your own page</a>
                    {% endif %}
                {% endif %}
                </nav>
            </div>

        </div>
        <button class="toggle-button"><span class="fas fa-bars fa-2x"></span></button>

    </header>
    <!-- #header area -->
    <main id="site-main">
        <div class="row m-0">
            <div class="col-md-9 offset-md-3 px-0">
    {% block content %}

    {% endblock %}
                       </div>
        </div>
    </main>





<script src="{% static 'page/js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'page/js/popper.min.js' %}" ></script>
<script src="{% static 'page/js/bootstrap.min.js' %}" ></script>
<script src="{% static 'page/js/font.min.js' %}"></script>
<script src="{% static 'vendor/typed/typed.min.js' %}"></script>
<script>
    $(document).ready(function(e){
    $win = $(window);
    $navbar = $('#header');
    $toggle = $('.toggle-button');
    var width = $navbar.width();
    toggle_onclick($win, $navbar, width);

    // resize event
    $win.resize(function(){
        toggle_onclick($win, $navbar, width);
    });

    $toggle.click(function(e){
        $navbar.toggleClass("toggle-left");
    })

});

function toggle_onclick($win, $navbar, width){
    if($win.width() <= 768){
        $navbar.css({left: `-${width}px`});
    }else{
        $navbar.css({left: '0px'});
    }
}

var typed = new Typed('#typed' , {
    strings: [
       '{{profile.first_skill}}',
        '{{profile.second_skill}}',
        '{{profile.third_skill}}',
    ],
    typeSpeed: 50,
    backSpeed: 50,
    loop: true
});

var typed_2 = new Typed('#typed_2' , {
    strings: [
        '{{profile.first_skill}}',
        '{{profile.second_skill}}',
        '{{profile.third_skill}}',
    ],
    typeSpeed: 50,
    backSpeed: 50,
    loop: true
});

document.querySelectorAll('a[href^="#"]').forEach(anchor =>{
    anchor.addEventListener('click', function(e){
        e.preventDefault();

        document.querySelector(this.getAttribute('href')).scrollIntoView({
            behavior: 'smooth'
        });
    });
});

</script>

</body>
</html>