{% extends 'page/layouts/base.html' %}
{% block title %}Profile | Login{% endblock %}
{% block content%}

        <h1 style="color: black;text-align: center;margin: 20px;text-decoration: underline #ffc107" >
        Account Login
        </h1>

                <form method="post" action="{% url 'login_user' %}" style="margin: 50px">
                    {% csrf_token %}
                      <div class="form-group">
                        <label for="exampleInputEmail1">Username :</label>
                        <input required name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Username">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Password :</label>
                        <input required name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                      </div>
                    <br>
                    <div style="text-align: center">
                      <button style="display: block;width: 100%;font-size: 20px" type="submit" class="btn btn-primary">Login</button>
                    </div>
                    <hr class="my-4">
                    <div style="text-align: center;">
                        <a href="{% url 'sign_up_user' %}"  style="text-align: center;text-decoration: none">
                            <button style="display: inline;width: 70%;font-size: 20px;max-width: 70%"  type="button" class="btn btn-warning btn-sm">I don't have an aacount , Create your own</button>

                        </a>
                    </div>
                </form>

{% endblock%}
