{% extends 'page/layouts/base.html' %}
{% block title %}Profile | Create Account{% endblock %}
{% block content%}
                  <h1 style="color: black;text-align: center;margin: 20px;margin-bottom: 0;text-decoration: underline #ffc107" >
                         Create Account
                  </h1>
                  <form method="post" action="{% url 'sign_up_user' %}" class="px-4 py-3" style="background-color: white;margin-top: 10px">
                    {% csrf_token %}
                      <div style="padding: 0;padding-right: 50px;padding-left: 20px">
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group" >
                                      <label for="exampleDropdownFormEmail1">First name :</label>
                                      <input {% if user_first_name %}value="{{ user_first_name }}"{% endif %} required name="first_name" type="text" class="form-control" id="exampleDropdownFormEmail1" placeholder="First name">
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group" >
                                      <label for="exampleDropdownFormEmail1">Last name :</label>
                                      <input {% if user_last_name %}value="{{ user_last_name }}"{% endif %} required name="last_name" type="text" class="form-control" id="exampleDropdownFormEmail1" placeholder="Last name">
                                  </div>
                              </div>
                          </div>
                          <div class="form-group" >
                              <label for="exampleDropdownFormEmail1">Username :</label>
                              <input {% if user_username %}value="{{ user_username }}"{% endif %} required name="username" type="text" class="form-control" id="exampleDropdownFormEmail1" placeholder="User name">
                          </div>
                          <div class="row">
                              <div class="col-md-8">
                                  <div class="form-group" >
                                      <label for="exampleDropdownFormEmail1">Email address :</label>
                                      <input {% if user_email %}value="{{ user_email }}"{% endif %}  name="email" type="email" class="form-control" required id="exampleDropdownFormEmail1" placeholder="email@example.com">
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div >
                                <div class="form-group ">
                                          <label for="inputState">Gender : </label>
                                          <select name="gender" class="form-control">
                                             {% if user_gender == "Male" %}
                                                <option selected value="Male">Male</option>
                                                <option  value="Female">Female</option>
                                            {% elif user_gender.gender == "Female" %}
                                                <option  value="Male">Male</option>
                                                <option selected value="Female">Female</option>

                                            {% else %}
                                                <option  value="Male">Male</option>
                                                <option  value="Female">Female</option>
                                            {% endif %}

                                          </select>
                                    </div>
                                </div>
                              </div>
                          </div>

                          <label for="exampleDropdownFormPassword1">Password :</label>
                          <div class="row">
                              <div class="col-md-8">
                                <div class="form-group">
                                  <input {% if user_password1 %}value="{{ user_password1 }}"{% endif %} required  name="password1" type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
                                </div>
                              </div>
                              <div class="col-md-4">
                                  <a href="{% url 'generate_password' %}" target="_blank">
                                        <button style="width:100% ;margin-left: 0;padding-left: 5px" type="button" class="btn btn-warning">
                                            Generate Password
                                        </button>
                                  </a>
                              </div>
                          </div>
                        <div class="form-group">
                              <label for="exampleDropdownFormPassword1">Confirm Password :</label>
                              <input required name="password2" type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Conform Password">
                        </div>
                          <br>
                          <div style="text-align: center">
                              <button style="display: block;width: 100%;font-size: 20px" type="submit" class="btn btn-primary">Create</button>

                          </div>

                      </div>
                  </form>
{% endblock %}