{% extends 'page/layouts/base.html' %}
{% load static %}
{% block content %}



    <div class="jumbotron" style="text-align: center;background-color: white">
        <h1 class="display-4" style="color: #ffc107">-- {{ news_details.title }} --</h1>
        <hr class="my-4">
        <img src="{{ news_details.image.url }}" class="img-thumbnail">
        <hr class="my-4">
        <p class="lead" style="text-align: left;color: black;font-weight: 400">{{news_details.description}}</p>
        <hr class="my-4">
        <a class="btn btn-outline-info" href="{% url 'profile' news_details.user.user.username  %}" role="button">Back to {{news_details.user.user.first_name}} Profile</a>
    </div>



{% endblock %}